.footer div:first-chil {
  text-align: right
}

@media only screen and (min-width: 38em) {

  .footer div:first-child {
    text-align: left;
  }

  .footer div:nth-child(2) {
    text-align: right;
  }

}
