.btn {
  border-radius: unset;
  transition: all .2s linear;
  border-width: 4px;
}

.btn-fancy {
  color: var(--color-primary);
  background-color: transparent;
}

.btn:hover,
.btn:focus {
  color: var(--color-white);
  background-color: var(--color-light);
  border-color: var(--color-light);

  outline-color: var(--color-accent);
}

.btn-fancy:hover,
.btn-fancy:focus {
  color: var(--color-white);

  background: linear-gradient(145deg, rgba(54,209,220,1) 5%, rgba(171,230,0,1) 100%);
  box-shadow: 3px 3px 3px #eee7e7;
  border-bottom: solid 3px;
  border-image: linear-gradient(145deg, rgba(54,209,220,1) 5%, rgba(171,230,0,1) 100%);
  border-image-slice: 1;
}

.top-btn {
  color: #000;
  text-decoration: none;
  transition: all .2s linear;
  visibility: hidden;
  opacity: 0;
}

.page-btn {
  color: #000;
  text-decoration: none;
  transition: all .2s linear;
}

.show {
  visibility: visible;
  opacity: 1;
}

.special .special-circle {
  transform: scale(.3);
  bottom: -20px;
  right: -20px;
  transition: all .1s ease;
}

.special:hover {
  color: var(--color-white);
}

.special:hover .special-circle {
  transform: scale(1);
  bottom: -1px;
  right: 0px;
}

.page-btn:hover .special-circle {
  transform: scale(.9);
  bottom: 0px;
  right: 0px;
}

.jump-btn {
  position: fixed;
  right: 0;
  bottom: 0;

  z-index: 1000;
}

#main {
  outline: none;
}

.play-sound {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.muted {
  border-radius: unset;
  transition: all .2s linear;
  border-width: 4px;
  color: var(--color-primary);
  background-color: transparent;
}

.unmuted {
  color: var(--color-white);

  background: linear-gradient(145deg, rgba(54,209,220,1) 5%, rgba(171,230,0,1) 100%);
  box-shadow: 3px 3px 3px #eee7e7;
  border-bottom: solid 3px;
  border-image: linear-gradient(145deg, rgba(54,209,220,1) 5%, rgba(171,230,0,1) 100%);
  border-image-slice: 1;
}
