.btn {
  border-radius: unset;
  transition: all .2s linear;
  border-width: 4px;
}

.btn-fancy {
  color: var(--color-primary);
  background-color: transparent;
}

.btn:hover,
.btn:focus {
  color: var(--color-white);
  background-color: var(--color-light);
  border-color: var(--color-light);

  outline-color: var(--color-accent);
}

.btn-fancy:hover,
.btn-fancy:focus {
  color: var(--color-white);

  background: linear-gradient(145deg, rgba(54,209,220,1) 5%, rgba(171,230,0,1) 100%);
  box-shadow: 3px 3px 3px #eee7e7;
  border-bottom: solid 3px;
  border-image: linear-gradient(145deg, rgba(54,209,220,1) 5%, rgba(171,230,0,1) 100%);
  border-image-slice: 1;
}
