<nav role="navigation" id="nav">
  <ul class="main-nav list-group milli push-0">
    <li class="gutter-1-4">
      <a href="#" class="block pad-t-1-4 gutter-1-2 text-upper {% if page.highlight == 'designers' %}active{% endif %}">Designers</a>
      <hr class="underline push-0" role="presentation" />
    </li>
    <li class="gutter-1-4">
      <a href="#" class="block pad-t-1-4 gutter-1-2 text-upper {% if page.highlight == 'supporters' %}active{% endif %}">Supporters</a>
      <hr class="underline push-0" role="presentation" />
    </li>
  </ul>
</nav>
