/* FILTER NAVIGATION */

.full-nav {
  padding: 1em;
}

.filter-nav {
  text-decoration: none;
  color: var(--color-primary);
  border: solid 2px #000;
  display: block;
}

.filter-nav:hover {
  border: none;
  border-bottom: solid 2px #000;
}

/* LOGO NAVIGATION */

.logo-nav > .wordmark {
  display: none;

  max-width: 10em;
}

.logo-nav > .wordmark > .underline,
.main-nav li > .underline {
  border-width: 2px;
  width: 0%;
  margin-top: .15em;
  border-color: var(--color-primary);

  transition: all .3s ease-in-out;
}

/* MAIN NAVIGATION */

.main-nav {
  height: 0;
  transition: all .4s ease-in-out;

  overflow: hidden;
}

.main-nav ~ nav {
  padding-top: .75rem;
}

.main-check[type="checkbox"] + label::before {
  position: absolute;
  top: -20em;
  left: -20em;
}

.main-nav li {
  text-align: center;
}

.main-nav li a {
  text-decoration: none;
  color: var(--color-primary);
}

.main-nav li a:hover,
.main-nav li a:focus,
.main-nav .active {
  color: var(--color-white);
  text-decoration: none;
  background-color: var(--color-neutral);
}

.main-check:checked ~ nav .main-nav {
  height: 69px;
}

.main-check ~ label:focus {
  outline-color: var(--color-accent);
}

/* ADDITIONAL NAVIGATION */

.ad-nav li a {
  text-decoration: none;
  color: var(--color-primary);
}

.ad-nav li a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 38em) {

  /* LOGO NAVIGATION — CONTINUED */

  .main-nav {
    height: unset;
    background-color: transparent;

    overflow: auto;
  }

  .logo-nav > .logo,
  .main-check[type="checkbox"] + label::before,
  .main-check ~ label {
    display: none;
  }

  .logo-nav > .wordmark {
    display: block;
  }

  .logo-nav:hover > .wordmark > .underline,
  .main-nav li > a:hover + .underline,
  .main-nav .active + .underline {
    width: 100%;
  }

  /* MAIN NAVIGATION — CONTINUED */

  .main-nav ~ nav {
    padding-top: 0;
  }

  .main-nav  li {
    display: inline-block;
  }

  .main-nav li a:hover,
  .main-nav li a:focus,
  .main-nav .active {
    background-color: transparent;
    color: var(--color-primary);
  }

}
