/* LOGO NAVIGATION */

.logo-nav > .wordmark {
  display: none;

  max-width: 10em;
}

.logo-nav > .wordmark > .underline,
.main-nav li > .underline {
  border-width: 2px;
  width: 0%;
  margin-top: .15em;
  border-color: var(--color-primary);

  transition: all .3s ease-in-out;
}

/* MAIN NAVIGATION */

.main-nav {
  height: 0;
  transition: all .4s ease-in-out;

  overflow: hidden;
}

.main-nav ~ nav {
  padding-top: .75rem;
}

.main-check[type="checkbox"] + label::before {
  position: absolute;
  top: -20em;
  left: -20em;
}

.main-check + .ham-nav > .ham-close {
  display: none;
}

.ham-nav:hover svg {
  fill: url(#ant-gradient);
}

.main-nav li {
  text-align: center;
}

.main-nav li a {
  text-decoration: none;
  color: var(--color-primary);
}

.main-nav li a:hover,
.main-nav li a:focus,
.main-nav .active {
  color: var(--color-white);
  text-decoration: none;
  background-color: var(--color-neutral);
}

.main-check:checked ~ nav .main-nav {
  height: 69px;
}

.main-check:checked + .ham-nav > .ham-open {
  display: none;
}

.main-check:checked + .ham-nav > .ham-close {
  display: block;
}

.main-check ~ label:focus {
  outline-color: var(--color-accent);
}

/* ADDITIONAL NAVIGATION */

.ad-nav li a {
  text-decoration: none;
  color: var(--color-primary);
}

.ad-nav li a:hover {
  text-decoration: underline;
}

/* FILTER NAVIGATION */

.filter-bar li label {
  text-decoration: none;
  border: 3px solid #000;
  color: #000;
  transition: all .1s linear;
}

.filter-bar li label:focus {
  outline-color: var(--color-light);
}

/* SOCIAL NAVIGATION HOVER STATES */

.social-nav a svg {
  fill: var(--color-primary);
}

.social-nav a .facebook > svg:last-child,
.social-nav a .twitter > svg:last-child,
.social-nav a .instagram > svg:last-child,
.social-nav a .linkedin > svg:last-child,
.social-nav a .youtube > svg:last-child,
.social-nav a .vimeo > svg:last-child,
.social-nav a .behance > svg:last-child,
.social-nav a .adobeportfolio > svg:last-child,
.social-nav a .github > svg:last-child,
.social-nav a .email > svg:last-child,
.social-nav a .website > svg:last-child {
  display: none;
}

.social-nav a:hover .facebook > svg:first-child,
.social-nav a:hover .twitter > svg:first-child,
.social-nav a:hover .instagram > svg:first-child,
.social-nav a:hover .linkedin > svg:first-child,
.social-nav a:hover .youtube > svg:first-child,
.social-nav a:hover .vimeo > svg:first-child,
.social-nav a:hover .behance > svg:first-child,
.social-nav a:hover .adobeportfolio > svg:first-child,
.social-nav a:hover .github > svg:first-child,
.social-nav a:hover .email > svg:first-child,
.social-nav a:hover .website > svg:first-child {
  display: none;
}

.social-nav a:hover .facebook > svg:last-child,
.social-nav a:hover .twitter > svg:last-child,
.social-nav a:hover .instagram > svg:last-child,
.social-nav a:hover .linkedin > svg:last-child,
.social-nav a:hover .youtube > svg:last-child,
.social-nav a:hover .vimeo > svg:last-child,
.social-nav a:hover .behance > svg:last-child,
.social-nav a:hover .adobeportfolio > svg:last-child,
.social-nav a:hover .github > svg:last-child,
.social-nav a:hover .email > svg:last-child,
.social-nav a:hover .website > svg:last-child {
  display: block;
}

@media only screen and (min-width: 38em) {

  /* LOGO NAVIGATION — CONTINUED */

  .main-nav {
    height: unset;
    background-color: transparent;

    overflow: auto;
  }

  .logo-nav > .logo,
  .main-check[type="checkbox"] + label::before,
  .main-check ~ label {
    display: none;
  }

  .logo-nav > .wordmark {
    display: block;
  }

  .logo-nav:hover > .wordmark > .underline,
  .main-nav li > a:hover + .underline,
  .main-nav .active + .underline {
    width: 100%;
  }

  /* MAIN NAVIGATION — CONTINUED */

  .main-nav ~ nav {
    padding-top: 0;
  }

  .main-nav  li {
    display: inline-block;
  }

  .main-nav li a:hover,
  .main-nav li a:focus,
  .main-nav .active {
    background-color: transparent;
    color: var(--color-primary);
  }

}
