/* GRAD/TEACHER CARD */

.grad-card {
  text-decoration: none;
  border: 1px solid #e2e2e2;
  border-radius: 2px;
  background-color: var(--color-white);
}

.grad-card:focus {
  outline-color: var(--color-light);
}

.grad-card > .grad-img {
  background-color: var(--color-neutral);
}

.grad-card > .grad-img > img {
  transition: all .3s ease;
}

.grad-card:hover > .grad-img > img,
.grad-card:focus > .grad-img > img {
  transform: scale(1.1);
}

.grad-card:hover > .grad-cont h4,
.grad-card:focus > .grad-cont h4 {
  background: linear-gradient(145deg, rgba(54,209,220,1) 5%, rgba(171,230,0,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
